* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

ol,
ul {
  list-style-type: none;
  list-style-position: inside;
}

table {
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    tr {
      th {
        white-space: nowrap;
        text-align: center;
      }
    }
  }
}

pre,
code {
  font-family: monospace, monospace;
}

summary {
  cursor: pointer;
  user-select: none;
}

select {
  cursor: pointer;
  user-select: none;
}

input {
  font-size: 16px !important;
  outline: none;

  // &[type='number'] {
  //   text-align: right;
  // }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin-left: 1rem;
}

[contenteditable=true]:empty:not(:focus):before {
  content: attr(placeholder);
  opacity: 0.7;
  pointer-events: none;
  display: block;
  /* For Firefox */
}